# The following were added to work with the rules_docker since they have issues with line-escapes
run --incompatible_restrict_string_escapes=false
build --incompatible_restrict_string_escapes=false
query --incompatible_restrict_string_escapes=false

# This tells Bazel how to interact with the version control system
# Enable this with --config=release
build --stamp --workspace_status_command=./tools/bazel_stamp_vars.sh